* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 210px;
    border-radius: 5px;
    background-color: #ecf0f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.item-card:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    transform: scale(1.03);
}

.item-img {
    border-radius: 5px 5px 0 0;
    width: 280px;
    height: 120px;
    object-fit: cover;
}

.tags {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}


.item-tag {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    border-radius: 20px;
    background-color: aqua;
    cursor: grab;
    user-select: none;
}