* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-detail-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212; /* Or any dark theme color */
  color: #fff; /* For light text */
}

.game-detail-container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.game-detail-header {
  position: fixed;
  top: 0;
  left: 10%;
  width: 80%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #121212;
}

.game-title {
  font-size: 3rem;
  font-weight: 700;
}

.add-to-cart-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.game-album {
  margin-bottom: 20px;
  margin-top: 70px;
}

.detail-album-img,
.album-img {
  width: 100%;
  border-radius: 5px;
}

.game-description {
  font-size: 1.2rem;
  line-height: 1.6;
}

.game-meta {
  font-size: 1rem;
  margin-top: 10px;
}

.error-message {
  color: #ff6b6b; /* Error color */
}
