* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-nav-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: #536b89;
}

.search {
    display: flex;
    justify-content: center; /* Center items inside .search */
    flex-grow: 1;
    max-width: 800px;
    width: 100%;
    margin-left: auto; /* Center the .search element */
    margin-right: auto; /* Center the .search element */
}

.search-input {
    max-width: 300px;
    width: 50%;
}

.search-dropdown {
    position: absolute;
    top: 100%; /* Directly below the search input */
    left: 15%;
    width: 70%; /* As wide as the search container */
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 2; /* Ensure it stacks above other content */
}

.cart {
    margin-left: auto; /* Pushes the cart to the right */
    position: absolute;
    right: 20px;
}
